<{include "<{$vpath}>/header.html"}>
<{include "<{$vpath}>/left_bar.html"}>
	<header id="article_header">
		<ol class="breadcrumb http-direct" style="margin-bottom: 5px;">
			<li><span data-href="/">Home</span></li>
			<li><span data-href="articles/post">Articles</span></li>
			<li class="active">Data</li>
		</ol>
	</header>
	<section class="col-xs-12 post-wrap pd0">
		<div class="post-wrap-base">
			<div class="form-group">
			    <div class="dropdown clearfix">
					<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-expanded="false">Dropdown
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Another action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Something else here</a></li>
					</ul>
				</div>
			</div>
			<table class="table table-hover bg-white">
				<thead>
					<tr>
						<th width="5%" title="ID">#</th>
						<th width="30%" title="标题">Title</th>
						<th width="10%" title="分类">Category</th>
						<th width="10%" title="发布时间">Post Time</th>
						<th width="10%" title="更新时间">Last Update</th>
						<th width="18%" title="标签">Tags</th>
						<th width="17%" title="操作">Operation</th>
					</tr>
				</thead>
				<tbody>　　
					<{foreach from=$articles_list name=article item=article}>　	
					<tr>
						<td><{$smarty.foreach.article.iteration}></td>
						<td class="http-direct" title="<{$article.title}>"><span data-href="<{$index_page}>dyh/articles/detail/<{$article.aid}>"><{$article.title}></span></td>
						<td><{$article.cname}></td>
						<td><{$article.post_time|date_format:"%Y-%m-%d"}></td>
						<td><{$article.update_time|date_format:"%Y-%m-%d"}></td>
						<td>Mark</td>
						<td>
							<div class="btn-group btn-group-xs" role="group" aria-label="Operation group">
								<button type="button" class="btn btn-primary article-edit" title="编辑文章" data-href="<{$index_page}>dyh/articles/detail/<{$article.aid}>">&nbsp;Edit&nbsp;</button>
							<div class="btn-group btn-group-xs" role="group" aria-label="Operation group">
								<button type="button" class="btn btn-danger" title="删除文章">Delete</button>
							<div class="btn-group btn-group-xs" role="group" aria-label="Operation group">
								<button type="button" class="btn btn-warning" title="隐藏文章">Hidden</button>
							</div>
						</td>
					</tr>				　　
					<{/foreach}>
				</tbody>
			</table> 
			<div class="form-group col-md-offset-4 pages">
				<nav>
					<{$paginations}>
				</nav>
			</div>
		</div>
	</section>
<{include "<{$vpath}>/footer.html"}>