<{include "<{$vpath}>/header.html"}>
<{include "<{$vpath}>/left_bar.html"}>
	<header id="article_header">
		<ol class="breadcrumb http-direct" style="margin-bottom: 5px;">
			<li><span data-href="/">Home</span></li>
			<li><span data-href="articles/post">Articles</span></li>
			<li class="active">Data</li>
		</ol>
	</header>
	<section class="col-xs-12 post-wrap pd0">
		<div class="post-wrap-base">
			<div class="form-group">
			    <div class="dropdown clearfix">
					<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-expanded="false">Dropdown
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Another action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Something else here</a></li>
						
					</ul>
				</div>
			</div>
			<table class="table table-hover bg-white">
				<thead>
					<tr>
						<th width="5%">#</th>
						<th width="30%">Title</th>
						<th width="10%">Category</th>
						<th width="10%">Post Time</th>
						<th width="10%">Last Update</th>
						<th width="20%">Tags</th>
						<th width="15%">Operation</th>
					</tr>
				</thead>
				<tbody>
					<{assign var="loop" value="17"}>　　
				　　<{section name="loop" loop=$loop}>				　　
				　　<tr>
						<td><{$smarty.section.loop.index}></td>
						<td class="http-direct" title="Mark"><span data-href="articles/detail/<{$smarty.section.loop.index}>">Mark</span></td>
						<td>Otto</td>
						<td>@mdo</td>
						<td>1</td>
						<td>Mark</td>
						<td>Otto</td>
					</tr>				　　
				　　<{/section}>
				</tbody>
			</table> 
			<div class="form-group col-md-offset-4 pages">
				<nav>
					<ul class="pagination">
						<li class="disabled"><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li class="active"><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
<{include "<{$vpath}>/footer.html"}>