	<div id="center">
		<div class="left col-xs-12 col-md-3 col-lg-2">
			<div id="left_wrap" class="col-xs-12 pd0">
				<ul id="expmenu-freebie">
					<li>
						<!-- Start Freebie -->
						<ul class="expmenu">
							<li>
								<div class="header">
									<span class="label" style="background-image: url(<{$base_url}><{$spath}>img/user.png);">Account</span>
									<span class="arrow up"></span>
								</div>
								<ul class="menu">
									<li><input type="range" name="range" min="0" max="100" value="35" style="width: 100%;" /></li>
								</ul>
							</li>
							<li>
								<div class="header">
									<span class="label" style="background-image: url(<{$base_url}><{$spath}>img/messages.png);">Post</span>
									<span class="arrow up"></span>
								</div>
								<ul class="menu">
									<li title="发布新文章" data-href="<{$index_page}>dyh/articles/post">New Post</li>
									<li class="selected" title="所有文章" data-href="<{$index_page}>dyh/articles">All Post</li>
									<li title="分类文章" data-href="<{$index_page}>dyh/articles/category">Category Post</li>
								</ul>
							</li>
							
							<li>
								<div class="header">
									<span class="label" style="background-image: url(<{$base_url}><{$spath}>img/pc.png);">Categorys & Tags</span>
									<span class="arrow up"></span>
								</div>
								<ul class="menu" style="">
									<li title="所有分类" data-href="<{$index_page}>dyh/category">Category</li>
									<li title="所有标签" data-href="<{$index_page}>dyh/tags">Tags</li>
								</ul>
							</li>
							<li>
								<div class="header">
									<span class="label" style="background-image: url(<{$base_url}><{$spath}>img/search.png);">Search</span>
								</div>
							</li>
						</ul>
						<!-- End Freebie -->
					</li>
				</ul>
			</div>
		</div>
		<div id="left_placeholder" class="col-xs-12 col-md-3 col-lg-2"></div>
		<div id="right" class="col-xs-12 col-md-9 col-lg-10">